body{
    background-color: rgb(221, 244, 253);/*กำหนดสีพื้นหลัง*/
    font-family: 'supermarketregular';/*ฟ้อนต์ที่จะแสดงผลในหน้าเว็บ*/
}
.banner{
    background-image: url("bk/02.png"); /*เรียกพื้นหลัง*/
    height: 50%;/*ให้ความสูงของภาพแค่50%*/
    background-position: center;/*ปรับตำแหน่งภาพให้อยู่กึ่งกลาง*/
    background-repeat: no-repeat;/*ไม่ให้ทำซ้ำแบล็คกราว*/
    background-size: cover;/*ขยายทั้งด้านกว้างและยาวในอัตราเท่ากัน ให้ภาพเต็มจอ broswer พอดี */
}

nav{
    border-bottom: 20px solid; /*ให้ด้านล่างของภาพมีขอบ 20 px */
    background-color:  #ff9100;/*กำหนดสีของแถบเมนู*/
    border-color: rgba(0, 0, 0, 0.1);/*กำหนดสีขอบเข้มจากสีแทบเมนู*/
}

.mainMenu a:hover, .mainMenu a:visited{
    background-color:#ffc170;/*เมือนำเมาส์ไปชี้ให้เปลี่ยนสี*/
}
a{
    color: white;/*สีของข้อความเป็นสีขาว*/
    text-decoration:none;/*ยกเลิกการใช้เส้นใต้ของลิงก์ข้อความ*/
    padding: 0.5em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 0.5em*/
}
main{
    display: grid;/*แสดงผลแบบกริด*/
    grid-template: auto;
    grid-template-areas: /*ให้แสดงผลเรียงลำดับโดยเริ่มจาก Head1,2,3 ตามลำดับ*/
            "head1"
            "head2"
            "head3";
        grid-gap:0.5em;/*ช่องว่างระหว่างกริด 0.5 em*/
        background-color: #ff9100;/*กำหนดสีพื้นหลัง*/
        font-size: 1em;/*ขนาดข้อความ 1 em*/
}
#head1,#head2{
    background: #ff9100;/*กำหนดสีพื้นหลัง*/
    font-size: 1em;/*ขนาดข้อความ 1 em*/
    margin: 0;/*ระยะห่างจากขอบบน ล่าง ซ้าย ขวา เท่ากับ0*/
    padding: 5px;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 5px*/
}
#content1{
    position: relative;/*ให้แสดงผลในตำแหน่งที่อยู่*/
    background-color: #ffc170;/*กำหนดสีพื้นหลัง*/
    font-size: 1em;/*ขนาดข้อความ 1 em*/
    padding: 1em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 1em*/
}
#content2,#content3{
    position: relative;/*ให้แสดงผลในตำแหน่งที่อยู่*/
    background-color: #ffc170;/*กำหนดสีพื้นหลัง*/
    font-size: 1em;/*ขนาดข้อความ 1 em*/
    padding: 1em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 1em*/
    float: left;/*สั่งให้คอนเทนเลื่อนมาทางด้ายซ้าย*/
}
ul{
    color: black;/*สีข้อความ*/
}
.sectionHeader{
   background-color: #ff9100;/*กำหนดสีพื้นหลัง*/
   padding: 1em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 1em*/
   margin-top: 0px;/*กำหนดระยะห่างจากด้านบนกำหนด0เพื่อให้ชิดขอบบน*/
   font-size: 1em;/*ขนาดของตัวอักษร*/
   color: white;/*สีข้อความ*/
}
.subHeader{
    margin-left: 20px;/*กำหนดระยะห่างจากขอบด้านซ้าย 20 px*/
    font-size: 1em;/*ขนาดของตัวอักษร*/
    text-align: initial;/*กำหนดค่าให้เป็นค่าเริ่มต้น*/
    color: black;/*สีข้อความ*/
}
.overlay {
    position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ overlay*/
    bottom: 0; /*ขอบล่าง 0*/
    left: 0;/*ด้านซ้าย 0*/
    right: 0;/*ด้านขวา 0*/
    background-color: #008CBA; /*กำหนดสีพื้นหลัง*/
    overflow: hidden;/*เมื่อไม่มีการชี้ให้ซ่อน*/
    width: 100%;/*ขนาด100 %*/
    height: 0%;/*ให้แสดงจากขอบด้านล่าง*/
    transition: .5s ease;/*แสดงผล5 0.5 วินาที แบบค่อยเด้ง*/
  }
  .amb:hover .overlay {
    height: 30%;/*แสดงผลเมื่อมีการชี้ขึ้นไปด้านบน 30 %*/
  }
  .am:hover .overlay {
    height: 30%;/*แสดงผลเมื่อมีการชี้ขึ้นไปด้านบน 30 %*/
  }


h2{
    color: whitesmoke; /*กำหนดสี*/
}

h4{
    color: black;/*กำหนดสี*/
}
article{
    background-color: #ffc170;/*กำหนดสีพื้นหลัง*/
}

#head1{
    grid-area: head1;/*ตั้งชื่อกริดแอเรีย*/
}
#head2{
    grid-area: head2;/*ตั้งชื่อกริดแอเรีย*/
}
#head3{
    grid-area: head3;/*ตั้งชื่อกริดแอเรีย*/
}
footer{
    position: relative;/*ให้แสดงผลในตำแหน่งที่อยู่*/
    padding:1em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 1em*/
    border-bottom: 20px solid;/*ให้ด้านล่างของภาพมีขอบ 20 px */
    background-color:#ff9100;/*กำหนดสีพื้นหลัง*/
    border-color: rgba(0, 0, 0, 0.1);/*กำหนดสีขอบเข้มจากสีแทบเมนู*/
}

p{
    color: white;/*กำหนดสี*/
    text-align: center;/*กำหนดตำแหน่งของข้อความ*/
    font-size: 1em;/*ขนาดฟอนต์ 1 em*/
}
div{
    text-align: center; /*กำหนดตำแหน่งของข้อความ*/
}
img{
    width: 100%;/*กำหนดขนาดของภาพ*/
}
/*responsive*/



@media screen and (max-width:469px){
    .mainMenu{
        display: grid;/*แสดงผลแบบกริด*/
    }
    .text{
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ text*/
        top: 50%;/*ให้ตำแหน่งของข้อความจากด้านบนลงมา 50 %*/
        left: 50%;/*ให้ตำแหน่งข้อความจากด้านซ้ายถัดมา 50%*/
        transform: translate(-50%, -50%);/*เป็นการค่อยๆถัดข้อความจากแนวนอน -50 แนวตั้ง-50*/
        color:white ;/*กำหนดสี*/
    }
    .text1{
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ text1*/
        top: 50%;/*ให้ตำแหน่งของข้อความจากด้านบนลงมา 50 %*/
        left: 50%;/*ให้ตำแหน่งข้อความจากด้านซ้ายถัดมา 50%*/
        transform: translate(-50%, -50%);/*เป็นการค่อยๆถัดข้อความจากแนวนอน -50 แนวตั้ง-50*/
        color:white ;/*กำหนดสี*/
      }
 
    nav{
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        margin-top: 1em;/*ขอบจากได้บน 1em*/
        font-size: 1em;/*กำหนดขนาดฟอนต์*/
        padding: 0.5em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 0.5em*/
    }
    
}

@media screen and (min-width:470px) and (max-width:599px){
    .text{
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ text*/
        top: 40%;/*ให้ตำแหน่งของข้อความจากด้านบนลงมา 40 %*/
        left: 50%;/*ให้ตำแหน่งข้อความจากด้านซ้ายถัดมา 50%*/
        transform: translate(-50%, -50%);/*เป็นการค่อยๆถัดข้อความจากแนวนอน -50 แนวตั้ง-50*/
        color:white ;/*กำหนดสี*/
    }
    .text1 {
        color: white;/*กำหนดสี*/
        position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ text1*/
        top: 50%;/*ให้ตำแหน่งของข้อความจากด้านบนลงมา 50 %*/
        left: 50%;/*ให้ตำแหน่งข้อความจากด้านซ้ายถัดมา 50%*/
        transform: translate(-50%, -50%);/*เป็นการค่อยๆถัดข้อความจากแนวนอน -50 แนวตั้ง-50*/
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
      }
    nav{
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        margin-top: 1em;/*ขอบจากได้บน 1em*/
        font-size: 1em;/*กำหนดขนาดฟอนต์*/
        padding: 0.5em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 0.5em*/
    }
    .amb{
        max-width: 245px;/*ขนาดสูงสุดของภาพ 245px*/
    }
}

@media screen and (min-width:600px) and (max-width:959px){
    .text{
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ text*/
        top: 40%;/*ให้ตำแหน่งของข้อความจากด้านบนลงมา 40 %*/
        left: 40%;/*ให้ตำแหน่งข้อความจากด้านซ้ายถัดมา 40%*/
        transform: translate(-50%, -50%);/*เป็นการค่อยๆถัดข้อความจากแนวนอน -50 แนวตั้ง-50*/
        color:white ;/*กำหนดสี*/
    }
    .text1 {
        color: white;/*กำหนดสี*/
        position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ text1*/
        top: 40%;/*ให้ตำแหน่งของข้อความจากด้านบนลงมา 40 %*/
        left: 40%;/*ให้ตำแหน่งข้อความจากด้านซ้ายถัดมา 40%*/
        transform: translate(-50%, -50%);
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
      }
    nav{
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        margin-top: 1em;/*ขอบจากได้บน 1em*/
        font-size: 1.4em;/*กำหนดขนาดฟอนต์*/
        padding: 0.5em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 0.5em*/
    }
    .amb{
        max-width: 190px;/*ขนาดสูงสุดของภาพ 190px*/
    }
    .am{
        max-width:270px;/*ขนาดสูงสุดของภาพ 270px*/
    }
    
}

@media screen and (min-width:960px){
    body{
        margin-left: 5em;/*กำหนดระยะห่างจากขอบด้านซ้าย 5em*/
        margin-right: 5em;/*กำหนดระยะห่างจากขอบด้านขวา 5em*/
    }
    .slide{
        width:70%;/*กำหนดขนาดของภาพ700%*/
    }
    .text1{
        color: white;/*กำหนดสี*/
        position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ text1*/
        top: 50%;/*ให้ตำแหน่งของข้อความจากด้านบนลงมา 50 %*/
        left: 50%;/*ให้ตำแหน่งข้อความจากด้านซ้ายถัดมา 50%*/
        transform: translate(-50%, -50%);/*เป็นการค่อยๆถัดข้อความจากแนวนอน -50 แนวตั้ง-50*/
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
      }
    .text {
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        position: absolute;/*ให้ตำแหน่งที่จะแสดงผลแค่ภาพใต้ element ของ text*/
        top: 40%;/*ให้ตำแหน่งของข้อความจากด้านบนลงมา 40 %*/
        left: 20%;/*ให้ตำแหน่งข้อความจากด้านซ้ายถัดมา 20%*/
        transform: translate(-50%, -50%);/*เป็นการค่อยๆถัดข้อความจากแนวนอน -50 แนวตั้ง-50*/
        color:white ;/*กำหนดสี*/
    }
    nav{
        text-align: center;/*กำหนดตำแหน่งของข้อความให้อยู่ตรงกลาง*/
        margin-top: 1em;/*ขอบจากได้บน 1em*/
        font-size: 1.4em;/*กำหนดขนาดฟอนต์*/
        padding: 0.5em;/*ห่างของขอบด้านบน และล่างวัดจากข้อความ 0.5em*/ 
    }
    .amb{
        max-width: 315px;/*ขนาดสูงสุดของภาพ 315px*/
    }
    .am{
        max-width: 430px;/*ขนาดสูงสุดของภาพ 430px*/
    }
}